.home-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.wrapper div {
  background-color: #eee;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 30px 10px;
  width: 200px;
  height: 300px;
  border: 1px black solid;
  background-color: lightgrey;
  border-radius: 20px;
}

.productCard div {
  margin: auto;
  text-align: center;
  padding: 0.3rem;
}

.productCard a {
  text-decoration: none;
  color: black;
}

.productImage {

  height: 200px;
}

.productImage img{
  border-radius: 10px;
  height: 90%;
  width: 90%;
}