.nav_left {
  position: absolute;
  width: auto;
  width: 10%;
  height:100%;
  min-width: fit-content;
}

.nav_right {
  right: 0;
  position: absolute;
  width: 20%;
  height: 100%;
  min-width: fit-content;
  overflow: auto;
}

.nav_fill {
  width: 70%;
  height:100%;
  white-space: nowrap;
  position: absolute;
  left: 10%
}

.navbar {
  background-color: white;
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.nav_logo {
  position: absolute;
  width: 50px;
  height: 50px;
  top:50%;
  left:30%;
  transform: translate(-50%,-50%);
}
.navbar ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  float: right;
}

.navbar li {
  margin-left: 50px;
  display: inline;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.cart-box {
  position: relative;
}

.cart-image {
  width: 50px;
  height: 50px;
  align-items: center;
  background: url("./cart_icon.svg") no-repeat;
  position: relative;
}


.cart-counter {
  position: absolute;
  font-size: small;
  background: white;
  top:0%;
  right:0%;
  width: 20px;
  height:20px;
  text-align: center;
  border-radius: 50%;
  color:black;
  border:1px solid black;
}