.productInfo {
  display: flex;
  position: relative;
  max-width: 1000px;
  margin: 5px, auto;
}

.product-image-container {
  width: 40%;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  text-align: left;
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
}