.container {
  width: 40%;
  max-width: 400px;
  height: 2rem;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.container form{
  vertical-align: middle;
  margin: auto;
}
.embed-submit-field {
  position: relative;
}

.embed-submit-field input {
  width: 100%;
  height: 100%;
  font-size: large;
}

.embed-submit-field button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 30px;
  height: 80%;
  margin: 1px;
  background-image:url("./search_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

